In [1]:
import pandas as pd
import numpy as np
final_df = pd.read_csv("movies.csv")
df_meta = pd.read_csv("test_movies.csv")
# final_df.sort_values("vote_average",inplace=True,ascending=False)
# vector = cv.fit_transform(final_df['genres']).toarray()

In [2]:
final_df = final_df[["title","summary"]]   # Grabbing only required columns

final_df

,title,summary
0,goldeneye,James Bond must unmask the mysterious head of ...
1,friday,Craig and Smokey are two guys in Los Angeles h...
2,from dusk till dawn,Seth Gecko and his younger brother Richard are...
3,blue in the face,"Auggie runs a small tobacco shop in Brooklyn, ..."
4,mighty morphin power rangers: the movie,Power up with six incredible teens who out-man...
...,...,...
688,war for the planet of the apes,Caesar and his apes are forced into a deadly c...
689,goon: last of the enforcers,"During a pro lockout, Doug ""The Thug"" Glatt is..."
690,pokémon: spell of the unknown,When Molly Hale's sadness of her father's disa...
691,transformers: the last knight,"Autobots and Decepticons are at war, with huma..."
692,bon cop bad cop 2,Ward and Bouchard must face an important car t...

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [4]:
final_df.head()

,title,summary
0,goldeneye,James Bond must unmask the mysterious head of ...
1,friday,Craig and Smokey are two guys in Los Angeles h...
2,from dusk till dawn,Seth Gecko and his younger brother Richard are...
3,blue in the face,"Auggie runs a small tobacco shop in Brooklyn, ..."
4,mighty morphin power rangers: the movie,Power up with six incredible teens who out-man...

In [25]:
df_meta = df_meta.set_index("id")

In [26]:
df_meta.head()

                                         title
id
19404              Dilwale Dulhania Le Jayenge
283566  Evangelion: 3.0+1.0 Thrice Upon a Time
278                   The Shawshank Redemption
724089               Gabriel's Inferno Part II
238                              The Godfather

In [29]:
df_meta[df_meta["title"] == "Aquaman"].index[0]

297802

In [30]:
count_matrix = cv.fit_transform(final_df['summary']).toarray()

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(count_matrix)

cosine_sim

array([[1.        , 0.        , 0.04902903, ..., 0.04526787, 0.10825318,
        0.03686049],
       [0.        , 1.        , 0.        , ..., 0.02464071, 0.        ,
        0.04012862],
       [0.04902903, 0.        , 1.        , ..., 0.01775552, 0.05661385,
        0.08674724],
       ...,
       [0.04526787, 0.02464071, 0.01775552, ..., 1.        , 0.05227084,
        0.02669753],
       [0.10825318, 0.        , 0.05661385, ..., 0.05227084, 1.        ,
        0.04256283],
       [0.03686049, 0.04012862, 0.08674724, ..., 0.02669753, 0.04256283,
        1.        ]])

In [79]:
import requests
def recommend_movie(movie):
    try:

        index = final_df[final_df['title'] == movie].index[0]
        distances = sorted(list(enumerate(cosine_sim[index])),reverse=True,key = lambda x: x[1])
        for i in distances[1:16]:
            print(final_df.iloc[i[0]].title.capitalize())        
                
    except IndexError:
        
        id = df_meta[df_meta["title"] == movie].index[0]
        response = requests.get(f"https://api.themoviedb.org/3/movie/{id}/recommendations?api_key=12a912144f97b3790b3731bdd9912034&language=en-US&page=1")
        for i in range(0,16):
            print(response.json()["results"][i]["title"])

In [80]:
recommend_movie("Aquaman")

Bumblebee
Spider-Man: Into the Spider-Verse
Venom
Fantastic Beasts: The Crimes of Grindelwald
Captain Marvel
Ant-Man and the Wasp
Mortal Engines
Shazam!
Ralph Breaks the Internet
Avengers: Infinity War
Deadpool 2
Black Panther
Bird Box
Justice League
Robin Hood
Alita: Battle Angel

In [43]:
import pickle
pickle.dump(final_df,open('movies.pkl','wb'))
pickle.dump(cosine_sim,open('model.pkl','wb'))