In [1]:
import pandas as pd
import numpy as np
import requests

In [16]:
data_temp = requests.get("https://www.themoviedb.org/search?query=bahubali") 

df = pd.DataFrame()

In [17]:
for i in range(1,454):
     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=12a912144f97b3790b3731bdd9912034&language=en-US&page={}'.format(i))
     temp_df = pd.DataFrame(response.json()['results'])[['id','title']]
     df = df.append(temp_df,ignore_index=True)

In [18]:
df.head(5)

       id                                   title
0   19404             Dilwale Dulhania Le Jayenge
1  283566  Evangelion: 3.0+1.0 Thrice Upon a Time
2     278                The Shawshank Redemption
3  724089               Gabriel's Inferno Part II
4     238                           The Godfather

In [20]:
df.to_csv("test_movies_copy.csv")

In [21]:
df = df.set_index("id")

In [22]:
df.to_csv("test_movies.csv")

In [28]:
id = df[df["title"] == "Aquaman"].index[0]

In [29]:
id

297802

In [25]:
df.head()

                                         title
id
19404              Dilwale Dulhania Le Jayenge
283566  Evangelion: 3.0+1.0 Thrice Upon a Time
278                   The Shawshank Redemption
724089               Gabriel's Inferno Part II
238                              The Godfather

In [26]:
def movies(movie):
    
    id = df[df["title"] == movie].index[0]
    response = requests.get(f"https://api.themoviedb.org/3/movie/{id}/recommendations?api_key=12a912144f97b3790b3731bdd9912034&language=en-US&page=1")
    for i in range(0,16):
        print(response.json()["results"][i]["title"])

In [27]:
movies("Aquaman")

Bumblebee
Spider-Man: Into the Spider-Verse
Venom
Fantastic Beasts: The Crimes of Grindelwald
Captain Marvel
Ant-Man and the Wasp
Mortal Engines
Shazam!
Ralph Breaks the Internet
Avengers: Infinity War
Deadpool 2
Black Panther
Bird Box
Justice League
Robin Hood
Alita: Battle Angel